[package]
name = "boa-www-backend"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
boa-core = { workspace = true }
wasm-bindgen = "0.2.106"

[dependencies.web-sys]
version = "0.3.83"
features = [
  "BinaryType",
  "Blob",
  "ErrorEvent",
  "FileReader",
  "MessageEvent",
  "ProgressEvent",
  "WebSocket",
]

[lints]
workspace = true
