@import "tailwindcss";

@theme {
    --elevation-0: #181818;
    --elevation-1: #1f1f1f;
    --elevation-2: #252525;
    --text: #cccccc;
    --muted: #757575;
}

html,
body,
#root,
.App {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--elevation-0);
    color: var(--text);
}
